<footer>
<p>© 2020 Team members contact</p>
<p><span class="glyphicon glyphicon-home"></span> Bechar city, 08000, ALgeria</p>
<p><span class="glyphicon glyphicon-envelope"</span> mohamed.tab@gmail.com</p>
<p><span class="glyphicon glyphicon-earphone"</span> call: 00213551411889</p>
<span class="glyphicon glyphicon-user"</span><a href="http://www.facebook.com"> Facebook: Moh Med
</footer>
