// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form label, form input {
width:50%;
display:block;
margin:auto;
margin: 10px;
color: black;
}
