<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <!-- Yield to get the mailer contacting information and messages-->
    <%= yield %>
  </body>
</html>
